<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
 <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Me</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/projects">Projects</a></li>
</ul>
    </nav>
    
<div class="container">

  {{ content }}

</div>

  
  <footer>
   <ul>
   <li><a href="mailto:jagani.aditya@gmail.com">email</a></li>
   <li><a href="https://github.com/jagani-aditya">github.com/jagani-aditya</a></li>
   </ul>
  </footer>
  </body>

</html>
